<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.warehouse.mapper.CheckStockMasterMapper">
    <resultMap id="result" type="com.warehouse.entity.CheckStockMasterEntity">
        <id column="check_stock_id" property="checkStockId" jdbcType="INTEGER" />
        <result column="check_stock_code" property="checkStockCode" jdbcType="VARCHAR" />
        <result column="check_stock_quantity" property="checkStockQuantity" jdbcType="INTEGER" />
        <result column="check_total_price" property="checkTotalPrice" jdbcType="DOUBLE" />
        <result column="check_stock_status" property="checkStockStatus" jdbcType="INTEGER" />
        <result column="store_id" property="storeId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <delete id="doDelete" parameterType="java.lang.Integer">
        delete from check_stock_master
        where check_stock_id = #{checkStockId,jdbcType=INTEGER}
    </delete>

    <insert id="doInsert" parameterType="com.warehouse.entity.CheckStockMasterEntity">
        insert into check_stock_master (check_stock_id, check_stock_code, check_stock_quantity,
          check_total_price, check_stock_status, store_id,
          create_time, update_time)
        values (#{checkStockId,jdbcType=INTEGER}, #{checkStockCode,jdbcType=VARCHAR}, #{checkStockQuantity,jdbcType=INTEGER},
          #{checkTotalPrice,jdbcType=DOUBLE}, #{checkStockStatus,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER},
          #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="doUpdate" parameterType="com.warehouse.entity.CheckStockMasterEntity">
        update check_stock_master
        <set>
            <if test="checkStockCode != null">
                check_stock_code = #{checkStockCode,jdbcType=VARCHAR},
            </if>
            <if test="checkStockQuantity != null">
                check_stock_quantity = #{checkStockQuantity,jdbcType=INTEGER},
            </if>
            <if test="checkTotalPrice != null">
                check_total_price = #{checkTotalPrice,jdbcType=DOUBLE},
            </if>
            <if test="checkStockStatus != null">
                check_stock_status = #{checkStockStatus,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where check_stock_id = #{checkStockId,jdbcType=INTEGER}
    </update>

    <select id="findList" resultMap="result">
        SELECT * FROM `check_stock_master`
        <where>
            <if test="checkStockId!=null">and `check_stock_id` = #{checkStockId}</if>
        </where>
    </select>

    <select id="findInfo" resultMap="result">
        SELECT * FROM `check_stock_master`
        <where>
            <if test="checkStockId!=null">and `check_stock_id` = #{checkStockId}</if>
        </where>
    </select>
</mapper>