<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.product.mapper.CategoryMasterMapper">
    <resultMap id="result" type="com.product.entity.CategoryMasterEntity">
        <id column="category_id" property="categoryId" jdbcType="INTEGER" />
        <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
        <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
        <result column="category_image_url" property="categoryImageUrl" jdbcType="VARCHAR" />
        <result column="category_parent_id" property="categoryParentId" jdbcType="INTEGER" />
        <result column="category_status" property="categoryStatus" jdbcType="INTEGER" />
        <result column="is_system" property="isSystem" jdbcType="CHAR" />
        <result column="store_id" property="storeId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <delete id="doDelete" parameterType="java.lang.Integer">
        delete from category_master
        where category_id = #{categoryId,jdbcType=INTEGER}
    </delete>

    <insert id="doInsert" parameterType="com.product.entity.CategoryMasterEntity">
        insert into category_master (category_id, category_code, category_name,
          category_image_url, category_parent_id, category_status,
          is_system, store_id, create_time,
          update_time)
        values (#{categoryId,jdbcType=INTEGER}, #{categoryCode,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR},
          #{categoryImageUrl,jdbcType=VARCHAR}, #{categoryParentId,jdbcType=INTEGER}, #{categoryStatus,jdbcType=INTEGER},
          #{isSystem,jdbcType=CHAR}, #{storeId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
          #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="doUpdate" parameterType="com.product.entity.CategoryMasterEntity">
        update category_master
        <set>
            <if test="categoryCode != null">
                category_code = #{categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="categoryImageUrl != null">
                category_image_url = #{categoryImageUrl,jdbcType=VARCHAR},
            </if>
            <if test="categoryParentId != null">
                category_parent_id = #{categoryParentId,jdbcType=INTEGER},
            </if>
            <if test="categoryStatus != null">
                category_status = #{categoryStatus,jdbcType=INTEGER},
            </if>
            <if test="isSystem != null">
                is_system = #{isSystem,jdbcType=CHAR},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where category_id = #{categoryId,jdbcType=INTEGER}
    </update>

    <select id="findList" resultMap="result">
        SELECT * FROM `category_master`
        <where>
            <if test="categoryId!=null">and `category_id` = #{categoryId}</if>
            <if test="storeId!=null">and `store_id` = #{storeId}</if>
        </where>
    </select>

    <select id="findInfo" resultMap="result">
        SELECT * FROM `category_master`
        <where>
            <if test="categoryId!=null">and `category_id` = #{categoryId}</if>
        </where>
    </select>
</mapper>